/*
body {
    background-image: url("/assets/images/wheat.png");
background */















  .container{
    max-width: 960px;
    margin: 0 auto 0 auto;
    border: 5px solid red;
}  for making the container div the size specified in the homework
